body {
  box-sizing: border-box;
  margin: 0%;
}
.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.left-container {
  background: #1c1818;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 45%;
  flex-direction: column;
}
.div2 {
  background: rgba(225, 225, 225, 0.5);
  width: 100%;
}
.div3 {
  background: white;
  width: 100%;
  direction: rtl;
}
.img1 {
  height: 100%;
  width: 55%;
}
.img3 {
  width: 180px;
  margin-top: -100px;
}

.text-shell {
  width: 70%;
  height: 80px;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  background-image: url(../images/cafe2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
h2 {
  font-size: 60px;
  color: #1c1818;
  margin: 0;
}
h1 {
  color: white;
  margin: 0;
  font-size: 30px;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

ul li {
  font-family: "Catamaran", sans-serif;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.img2 {
  height: 550px;
}
